$buttonColorLeft: #2e8b57;
$buttonColorMiddle: #228b22;
$buttonColorRight: #32cd32;

.headerNav {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  align-items: center;
  background: -moz-linear-gradient(
    left,
    $buttonColorLeft,
    $buttonColorMiddle 30%,
    $buttonColorRight
  );
  background: -webkit-linear-gradient(
    left,
    $buttonColorLeft,
    $buttonColorMiddle 50%,
    $buttonColorRight
  );
  background: linear-gradient(
    to right,
    $buttonColorLeft,
    $buttonColorMiddle 50%,
    $buttonColorRight
  );
}

.headerUl {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

.headerLi {
  display: flex;
}

.headerHref {
  color: #7fffd4;
  padding: 5px;
}
